<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xf.notes"
    android:versionCode="5"
    android:versionName="2.0.0.20150122" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".NotesApplication">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.APPListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.APPDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="548e" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="360" >
        </meta-data>

        <service
            android:name=".service.RemindRecordService"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="com.xf.notes.RemindRecordService" />
            </intent-filter>
        </service>
    </application>

</manifest>
